@using System.Globalization
@using Microsoft.Extensions.Localization
@using Microsoft.Fast.Components.FluentUI
@inject IStringLocalizer<NavMenu> Loc
@inject NavigationManager navManager


<div class="top-row ps-3 navbar navbar-dark burger-menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kiota.dev</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <FluentMenu>
            <FluentMenuItem @onclick=@GoHome>
                @Loc["Search"]
                <FluentIcon Name="@FluentIcons.Search" Slot="start" Size="@IconSize.Size24" Filled=false UseAccentColor=false />
            </FluentMenuItem>
            <FluentMenuItem @onclick="@GoToShow">
                @Loc["Show"]
                <FluentIcon Name="@FluentIcons.AppsList" Slot="start" Size="@IconSize.Size24" Filled=false UseAccentColor=false />
            </FluentMenuItem>
            <FluentMenuItem @onclick=@GoToGenerate>
                @Loc["Generate"]
                <FluentIcon Name="@FluentIcons.Code" Slot="start" Size="@IconSize.Size24" Filled=false UseAccentColor=false />
            </FluentMenuItem>
            <FluentMenuItem @onclick=@GoToAbout>
                @Loc["About"]
                <FluentIcon Name="@FluentIcons.Info" Slot="start" Size="@IconSize.Size24" Filled=false UseAccentColor=false />
            </FluentMenuItem>
        </FluentMenu>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void GoHome() {
        navManager.NavigateTo("/");
    }
    private void GoToShow()
    {
        navManager.NavigateTo("show");
    }
    private void GoToGenerate()
    {
        navManager.NavigateTo("generate");
    }
    private void GoToAbout()
    {
        navManager.NavigateTo("https://microsoft.github.io/kiota");
    }
}
