@page "/"
@using Kiota.Builder
@using Kiota.Builder.SearchProviders
@using Kiota.Builder.Configuration
@using System.Linq
@inject ILoggerFactory LoggerFactory
@using System.Globalization
@using Microsoft.Extensions.Localization
@using Microsoft.Fast.Components.FluentUI
@inject IStringLocalizer<Index> Loc
@inject NavigationManager navManager

<PageTitle>@Loc["PageTitle"]</PageTitle>

<h1>@Loc["Search"]</h1>

<div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <label for="term">@Loc["SearchTermOrKey"]</label>
                <input id="term" type="text" @bind="SearchTerm" class="form-control" required="true" />
            </div>
        </div>
    </div>
    <FluentButton Appearance="Appearance.Accent" @onclick="SearchDocuments">@Loc["SearchAction"]</FluentButton>
</div>

@if (IsExactMatch()) {
    var singleResult = SearchResults[SearchTerm];
    <div id="single-result">
        <h2>@Loc["SingleResult"]</h2>
        <p>
            <span>@Loc["SR_Key"]</span><a href="@singleResult.DescriptionUrl" target="_blank">@SearchTerm</a><br />
            <span>@Loc["SR_Description"]</span>@singleResult.Description<br />
            <span>@Loc["SR_ServiceRoot"]</span>@singleResult.ServiceUrl<br />
            <span>@Loc["SR_Versions"]</span>
            <ul>
                @foreach (var versionLabel in singleResult.VersionLabels)
                {
                    var target = $"/show?k={SearchTerm}&v={versionLabel}";
                    <li>
                        <NavLink class="nav-link" href="@target">
                            @versionLabel
                        </NavLink>
                    </li>
                }
            </ul>
            <br />
        </p>
        <FluentButton Appearance="Appearance.Accent" @onclick="GoToGenerate">@Loc["GoToGenerate"]</FluentButton>
    </div>
} else if (SearchResults.Any()) {
    <div id="results">
        <h2>@Loc["MultipleResults"]</h2>
        <table>
            <thead>
                <tr>
                    <th>@Loc["MR_Key"]</th>
                    <th>@Loc["MR_Description"]</th>
                    <th>@Loc["MR_Versions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in SearchResults)
                {
                    <tr>
                        <td>
                            @{
                                var generationTarget = $"/generate?d={result.Value.DescriptionUrl}";
                            }
                            <NavLink class="nav-link" href="@generationTarget">
                                @result.Key
                            </NavLink>
                        </td>
                        <td><p>@result.Value.Description</p></td>
                        <td><p>
                            @foreach (var versionLabel in result.Value.VersionLabels)
                            {
                                var target = $"/show?k={result.Key}&v={versionLabel}";
                                <NavLink class="nav-link" href="@target">
                                    @versionLabel
                                </NavLink>
                            }
                        </p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private string? SearchTerm { get; set; }
    private IDictionary<string, SearchResult> SearchResults = new Dictionary<string, SearchResult>();
    private async Task SearchDocuments() {
        var searchConfig = new SearchConfiguration() {
            SearchTerm = SearchTerm,
        };
        var logger = LoggerFactory.CreateLogger<KiotaSearcher>();
        SearchResults = await new KiotaSearcher(logger, searchConfig).SearchAsync(ComponentDetached);
    }
    private bool IsExactMatch() => SearchResults.Any() && (SearchTerm?.Contains("::") ?? false) && SearchResults.ContainsKey(SearchTerm);
    private void GoToGenerate() {
        if(IsExactMatch())
        {
            navManager.NavigateTo($"/generate?d={SearchResults.Values.First().DescriptionUrl}");
        }
    }
}
